[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/kanalfred/vim.git
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/kanalfred/vim.git
